 <style type="text/css">
        
        .navbar-default .navbar-brand, .navbar-default .navbar-brand:hover { 
            color: #fff;
        }
    </style>
    
    
 <div class="navbar navbar-default" role="navigation">
        
 </div>
 
 
 <div class="sidebar-nav">
		<ul>
			<li><a href="#" data-target=".dashboard-menu" class="nav-header" data-toggle="collapse"> Dashboard <i class="fa fa-collapse"></i></a></li>
			<li>
				<ul class="dashboard-menu nav nav-list collapse in">
					<li><a href="Home.html"><span class="fa fa-caret-right"></span> Home</a></li>
				</ul>
			</li>
					
			<li data-popover="true" data-content="Items in this group require a <strong><a href='http://portnine.com/bootstrap-themes/aircraft' target='blank'>premium license</a><strong>." rel="popover" data-placement="right">
				<a href="#" data-target=".users-menu" class="nav-header collapsed" data-toggle="collapse">Users<i class="fa fa-collapse"></i></a>
			</li>
			<li>
				<ul class="users-menu nav nav-list collapse">
					<li><a href="#" onclick="getAllUsers('NEW')"><span class="fa fa-caret-right"></span>Registered</a> </li>
					<li><a href="#" onclick="getAllUsers('NOT-APPROVED')"><span class="fa fa-caret-right"></span>Pending For Approval</a> </li>
					<li><a href="#" onclick="getAllUsers('APPROVED')"><span class="fa fa-caret-right"></span></span>Approved</a> </li>
				</ul>
			</li>
			
			<li data-popover="true" data-content="Items in this group require a <strong><a href='http://portnine.com/bootstrap-themes/aircraft' target='blank'>premium license</a><strong>." rel="popover" data-placement="right">
				<a href="#" data-target=".search-menu" class="nav-header collapsed" data-toggle="collapse">Search<i class="fa fa-collapse"></i></a>
			</li>
			<li>
				<ul class="search-menu nav nav-list collapse">
					<li><a href="#" onClick="javascript: OpenWindow('/admin/SearchByName.html','forgotpassword','600','400')"><span class="fa fa-caret-right"></span>By Name</a> </li>
					<li><a href="#" onClick="javascript: OpenWindow('/admin/SearchByFatherName.html','forgotpassword','600','400')"><span class="fa fa-caret-right"></span>By Father Name</a> </li>
					<li><a href="#" onClick="javascript: OpenWindow('/admin/SearchById.html','forgotpassword','600','400')"><span class="fa fa-caret-right"></span>By Username</a> </li>
				</ul>
			</li>
			
			<li data-popover="true">
				<a href="../logout" class="nav-header collapsed" >Logout</a>
			</li>
		</ul>
    </div>
    
   <!-- 
   
    Include the page to get the Top and SideBar and after that add below code
   
    <div class="content">
        <div class="header">
            ***********************Header Goes Here*************      
        </div>
        <div class="main-content">
			************** Content Goes Here ********************
        </div>
    </div>
   
   
    --> 